:host {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 87.5vh;
    background: linear-gradient(90deg, rgba(245,255,0,1) 7%, rgba(251,255,164,1) 100%);
}
* {
    text-align: center;
    font-family: "Courier";
  }
  .fichas {
    width: 100px;
    height: 100px;
  }
  .new-game  {
    background-color: blue;
  }
  .X {
    color: green;
  }
  .O {
    color: red;
  }