<div class="game-tic">

  <article class="container-cell">
    @for (row of board; track row) {
      <div>
        @for (cell of row; track cell) {
          <button class="btn-lg fichas"
            [ngClass]="cell.value"
            [disabled]="isTaken(cell) || winner"
            (click)="move(cell)"
            >{{ cell.value }}
          </button>
        }
      </div>
    }
    <p>
      @if (!winner && !cat) {
        <span>Current Player: {{ currentPlayer }}</span>
      }
      @if (winner) {
        <span>Player {{ currentPlayer }} has won!</span>
      }
      @if (cat) {
        <span>Cat</span>
      }
    </p>
    <button class="btn btn-primary btn-large new-game" (click)="reset()">New Game</button>
  </article>
</div>
