@if (cines) {
  <div>
    <h2>Lista de Cines</h2>
    <ul>
      @for (cine of cines; track cine.nombre){
        <li>
          <p></p>
          <h3>{{ cine.nombre }}</h3>
          <p>{{ cine.direccion }}</p>
          <button (click)="deleteCine(cine.id)">Borrar</button>
        </li>
      }
    </ul>
  </div>
}
<div class="form-group">
  <label for="nombre">Nombre:</label>
  <input id="nombre" [(ngModel)]="nombre" name="nombre" required>

  <label for="direccion">Dirección:</label>
  <input id="direccion" [(ngModel)]="direccion" name="direccion" required>
  <button type="button" (click)="addCine()" class="btn btn-success"><i class="fa-solid fa-plus"></i></button>
</div>
