:host {
  background-color: #fff;
  border: 1px solid black;
  margin: 20px;
  padding: 20px;
  box-shadow: 0px 0px 119px 7px rgba(0,0,0,0.75);
  border-radius: 50px;
}
.contenedor h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  color: #007bff;
}

.contenedor button {
  background-color: #007bff;
  border-radius: 10px;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
