:host {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 87.8vh;
    text-align: center;
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(90deg, rgba(20,46,106,1) 8%, rgba(12,0,255,1) 47%, rgba(9,185,246,1) 100%);
    border: 3px solid black;
    width: 100vw;
}

.maindisplay {
    background: lightgrey;
    height: 25vh;
    padding: 5% !important;
    font-size: 4rem;
    text-align: right;
    font-family: Courier, monospace;
    overflow: auto;
}

.subdisplay {
    border-bottom: 1px solid black;
    height: 25%;
    font-size: 2rem;
    overflow: auto;
}

.keypad {
    height: calc(200% / 3);
}

.keys {
    margin: 0;
    height: 20%;
    background: whitesmoke;
    color: black;
    padding: 5%;
    font-size: 2rem;
    text-align: center;
    cursor: pointer;
    opacity: 0.9;
}

.keys:hover {
    opacity: 1;
}

.ackey {
    color: red;
    background: black;
}

.equalkey {
    color: white;
    background-color: orangered; 
}

.numkey {
    color: skyblue;
    background-color: black; 
}

.opkey {
    color: white;
    background-color: black; 
}