:host {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 87.8vh;
    text-align: center;
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(90deg, rgba(20,46,106,1) 8%, rgba(12,0,255,1) 47%, rgba(9,185,246,1) 100%);
    border: 3px solid black;
    width: 100vw;
}

.maindisplay {
    background: lightgrey;
    height: 25vh;
    padding: 2% !important; /* Ajusta el padding */
    font-size: 3rem; /* Reduce el tamaño de fuente */
    text-align: right;
    font-family: Courier, monospace;
    overflow: auto;
}

.subdisplay {
    border-bottom: 1px solid black;
    height: 20%; /* Reduce la altura */
    font-size: 1.5rem; /* Reduce el tamaño de fuente */
    overflow: auto;
}

.keypad {
    height: calc(200% / 3);
}

.keys {
    margin: 0;
    height: 15%; /* Reduce la altura */
    background: whitesmoke;
    color: black;
    padding: 3%; /* Ajusta el padding */
    font-size: 1.5rem; /* Reduce el tamaño de fuente */
    text-align: center;
    cursor: pointer;
    opacity: 0.9;
}

.keys:hover {
    opacity: 1;
}

.ackey {
    color: red;
    background: black;
}

.equalkey {
    color: white;
    background-color: orangered; 
}

.numkey {
    color: skyblue;
    background-color: black; 
}

.opkey {
    color: white;
    background-color: black; 
}

/* Media query para dispositivos móviles */
@media (max-width: 600px) {
    .maindisplay {
        font-size: 2rem; /* Ajusta el tamaño de fuente */
    }
    .subdisplay {
        font-size: 1rem; /* Ajusta el tamaño de fuente */
    }
    .keys {
        font-size: 1rem; /* Ajusta el tamaño de fuente */
    }
}
