:host {
    margin: 0;
    gap: 1rem;
    display: grid;
    /* orden que aparecen los elementos */
    grid-template-areas:
      "header"
      "content"
      "footer";
    grid-template-columns: 1fr;
  }
  
  .content {
      display: block;
      grid-area: content;
  }
  