:host {
    margin: 0;
    gap: 1rem;
    display: grid;
    /* orden que aparecen los elementos */
    grid-template-areas:
      "header header"
      "content content"
      "footer footer";
  }
  
  .content {
      display: block;
      grid-area: content;
  }
  