:host {
  display: grid;
  place-content: center;
  width: 100vw;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

.container-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
  height: auto;
  width: 100%;
  overflow-x: hidden;
}

@media screen and (max-width: 768px) {
  :host {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    gap: 8rem;

  }
  .container-cards {
    flex-direction: column;
  }
}

.card {
  width: 18rem;
  height: 20rem;
}


h1 {
  color: #000;
  font-weight: bold;
}


h1 {
  color: #000;
  font-weight: bold;
}
